body {
    background-color: #663131;
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.452);
}  

select {
    width: 150px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}